<!doctype html>
<html>
<head>
<title>
  Minimo
</title>
<link  href="../styles/mainstyles.css"  type='text/css' rel="stylesheet" >
</head>
<body>
    <header class=header>
    <span class="minimo">
      MINIM0
    </span>
      <span class="headerlinks">
        <a href="">
          TRAVEL
        </a>
        <a href="">
          MUSIC
        </a>
        <a href="#photodiary">
          PHOTODIARY
        </a>
        <a href="">
          LIFESTYLE
        </a>
      </span>
      </header>
      <main>
        <div class="img1">
        <img src="../images/image0.jpg" alt="Wait" width="100%">
      </div>
          <section class="one">
        <div class="firstpart">
      <a name="photodiary"> PHOTODIARY </a>
        <h1> The perfect weekend getaway </h1>
        <p class="onetext"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </b>, totam rem aperiam,
eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
</div>
 <div class="images">
    <img src="../images/image1.jpg" alt="Wait" width="100%" >
      <img src="../images/image2.jpg" alt="Wait" width="100%" vspace="100">
        <img src="../images/image3.jpg" alt="Wait" width="100%">
      </div>
      <p class="kursiv">
       "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
      </p>
<p class="twotext">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
<b>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
magnam aliquam quaerat voluptatem.
</p>
        </section>
        <aside class="aside">
        <img src="../images/imagebar.jpg" alt="Wait" width="100%" >
        <h2> About me </h2>
          <p class=threetext>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
       </p>
       <span class="icon1">
       <a href="">
       <img src="../images/facebook.jpg" alt="Wait" width="18" height="17"> </a>
       <a href="">
       <img src="../images/instagram.jpg" alt="Wait" width="18" height="17"> </a>
       <a href="">
       <img src="../images/pinterest.jpg" alt="Wait" width="18" height="17"> </a>
     </span>

     <h4> TOP POSTS </h4>
     <ul>
       <li href="">A day exploring the Alps</li>
       <p class="comment"> 24 COMMENTS </p>
       <li href="">American dream</li>
       <p class="comment"> 19 COMMENTS </p>
       <li href="">Gold winter days</li>
       <p class="comment"> 15 COMMENTS </p>
     </ul>
     <img src="../images/banner.jpg" alt="Wait" width="100%" >
        </aside>
     <div class="share">
       SHARE
       <a href="">
       <img src="../images/facebook.jpg" alt="Wait" width="18" height="17"> </a>
       <a href="">
       <img src="../images/tbird.jpg" alt="Wait" width="18" height="17"> </a>
       <a href="">
       <img src="../images/g+.jpg" alt="Wait" width="18" height="17"> </a>
       <a href="">
       <img src="../images/twit.jpg" alt="Wait" width="18" height="17"> </a>
       <a href="">
       <img src="../images/pinterest.jpg" alt="Wait" width="18" height="17"> </a>
     </div>
      </main>
      <footer class="footer">
      <div class="terms">
        <a href="">
        Terms and conditions </a>
        <a href="">
        Privacy </a>
      </div>
      <div class="follow">
      Follow
        <a href="">
          <img src="../images/footerfacebook.png" alt="Wait" width="18" height="17"> </a>
          <a href="">
          <img src="../images/footerbird.png" alt="Wait" width="18" height="17"> </a>
          <a href="">
          <img src="../images/footerinstagram.png" alt="Wait" width="18" height="17"> </a>
       </footer>
</body>
</html>
